// Place all the styles related to the Replies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reply {
  border-bottom-style: dotted;
  border-width: 1px;
  border-color: black;
  font-style: italic;
  padding-left: 20px;
}
